<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="DdrConnectionString1" connectionString="Data Source='dev_49';user id=c219641;password=test123;" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="ConnectionString11" connectionString="user id=c219641;password=test123;data source=(&#xA;         (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (HOST = credit.d51.lilly.com) (PROTOCOL = TCP) (PORT = 1525))) &#xA;        (CONNECT_DATA = (SID = dev_49)))" providerName="Oracle.DataAccess.Client"/>-->
    <!--<add name="DDRConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=credit.d51.lilly.com)(PORT=1525)))
         (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=dev_49)));User Id=gdd_procs ;Password=DMGDD05;"/>-->
    <add name="DDRConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=%)(PORT=^)))&#xA;         (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=*)));User Id=@;Password=#;" providerName="Oracle.DataAccess.Client"/>
    <!--<add name="DDRUsercheck" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=credit.d51.lilly.com)(PORT=1525)))
         (CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=dev_49)));User Id=@;Password=#;" providerName="Oracle.DataAccess.Client"/>-->
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Home.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages maintainScrollPositionOnPostBack="true" enableSessionState="true" validateRequest="true" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx">
      <error statusCode="404" redirect="~/Error.aspx"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--<remove name="BundleModule"/>
    <add name="BundleModule" type="System.Web.Optimization.BundleModule"/>  
    </modules>-->
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>